@import '../../utils//variables.less';
.header-wrapper {
  background: @primary-color;
  height: 120px;
}
.content-wrapper {
  margin-left: 270px;
  margin-top: 10px;
}
.footer-wrapper {
  background: @primary-color;
  height: 80px;
  position: fixed;
  bottom: 0;
  background: @primary-color;
  width: 100%;
  display: flex;
  justify-content: center;

  .a-link{
    padding-right: 8px;
  }
}
