@import '../../utils//variables.less';
.sideBar-container{
  width: 260px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  background-color: @second-color;
  // 此时开启了定位之后 height:100% 才生效
}